.sidebar{
    width: 300px;
    background-color: #181818;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-icon{
    display: flex;
    justify-content: space-between;
    border: solid rgba(255, 255, 255,0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}
.thread{
    height: 100%;
    margin: 10px;
    padding: 10px;
    overflow-y: auto;
    scrollbar-color: #212121 transparent;
}
.thread li{
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    border: solid 10px transparent;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.thread li i{
    opacity: 0;
}
.thread li i:hover{
    color: rgb(218, 57, 57);
}
.thread li:hover{
    background-color: #303030;
    i{
        opacity: 1;
    }
}
.sidebar-user{
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255,0.5);
}